@model Movie

<div class="card">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/img/@Model.ImageUrl" class="card-img" alt="@Model.Name" width="300" />
            
        </div>

        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">@Model.Director</p>
                <p>
                    <ul>
                        @foreach (var aktor in Model.Aktors)
                        {
                            <li>@aktor</li>
                        }
                    </ul>

                </p>
            </div>

        </div>
    </div>
</div>
    
